.form {
  display: flex;
  flex-flow: column;
  gap: 20px;
  min-width: 50%;
  border-radius: 20px;
  border: #A2D4F2 3px solid;
  padding: 20px 40px 30px;
  background-color: #034012;
  color: #F2E205;
  font-size: 18px;
  position: relative;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

.label {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding-bottom: 10px;
}

.input {
  background-color: #023E73;
  color: #F2E205;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

.select {
  cursor: pointer;
  background-color: #023E73;
  color: #F2E205;
  border-radius: 5px;
  border: none;
  padding: 8px 10px;
}

.toggleBtn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: #F28705;
  }
}

.closeBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #F28705;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    color: #F20C0C;
  }
}
