.page {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 32px;
  min-height: 90vh;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #078C4E;
  color: #A2D4F2;
  padding: 20px;
}

.width-max {
  max-width: 100%;
}

.warning-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.warning-box__message {
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 30px;
  text-transform: uppercase;
  color: #034012;
}

.box {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 32px;
  gap: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px 10px;
  width: 100%;
}

.form-overlay {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.filter-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
}

.filter-container__btn {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  padding: 3px;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 20px;
  font-weight: 600;

  &:hover {
    text-decoration: #023E73 2px underline;
  }

  &:first-letter {
    text-transform: capitalize;
  }
}
