.card {
  display: grid;
  grid: 300px 1fr 1fr / 1fr;
  gap: 10px;
  background-color: #012840;
  align-items: center;
  border-radius: 10px;
  padding: 10px 10px 20px;
  color: #078C28;
  text-align: center;
  box-shadow: #012840 0 0 10px 5px;
  position: relative;
}

.imgContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
}

.image {
  border-radius: 10px 10px 0 0;
  opacity: 0.7;
  transition: opacity 1s;
  box-shadow: #078C28 0 3px 10px 1px, #078C28 0 -3px 10px 1px;
  max-height: 100%;

  &:hover {
    opacity: 1;
  }
}

.title {
  font-size: 22px;
  font-weight: 600;
  padding-top: 10px;
}

.species {
  font-size: 18px;
  font-weight: 500;
}

.delete {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: #F20C0C;
  font-size: 20px;
  padding: 0 7px;
  position: absolute;
  bottom: 5px;
  right: 5px;

  &:hover {
    outline: #F20C0C 2px solid;
  }
}
